Flask==1.0.1
Flask-SQLAlchemy
werkzeug==0.16.0
flask-marshmallow
marshmallow-sqlalchemy
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Moment
Flask-Modus
flask-bootstrap
gunicorn
flask-script
flask-migrate==2.5.1
pillow
dropbox
mysqlclient
mysql-connector
xhtml2pdf
flask_debugtoolbar
pyqrcode
pypng
psycopg2
Babel
requests