{% extends "base.html" %}
{% block title %}IOL Invoice Home{% endblock %}
{% block content %}
  


  <!-- Page Content -->
  <div class="container" style="margin-bottom: 70px;">

 <main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main><!-- /.container -->


</div>
<script src="js/jquery-3.2.1.min.js"></script>
  
{% endblock %}
